<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISampleDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49701/SampleDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISampleDataService"
                contract="SampleServices.ISampleDataService" name="BasicHttpBinding_ISampleDataService" />
        </client>
    </system.serviceModel>
</configuration>